*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}
/*-------------HOME PAGE--------------*/

/* For mobile phones: */
body{
    background: url(../img/background2.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar{
    position: absolute;
    background-color: rgba(217, 219, 243, 0.062);
    width: 100%;
    padding: 10px 0;
    top: 0;
    z-index: 999;
}
.inner-width{
    max-width: 95%px;
    margin: auto;
    padding: 0 20px;
}
.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{ 
    display: none;
    width: 75px;
    height: 75px;
    background-image: url(../img/Self-made_logo3.png);
    background-size:cover;
    border-radius: 25%;
    transition: 0.3s linear;
  }
  .logo:hover{
    box-shadow: 0 0 10px #67e667;
    border: #67e667 1px solid;
    cursor: none;
  }
  .navbar-menu{
    display: flex;
    align-items: center;
  }
  .navbar-menu a{
    color:white;
    font-size: 10px;
    font-weight: 350;
    margin: 0 10px;
    transition: 0.3s linear;
    border-radius: 5px;
    padding: 3px;
    text-transform: uppercase;
  }
  .navbar-menu a:hover{
    color:white!important;
    background-color:transparent;
    box-shadow: 0 0 5px #67e667;
    font-size: 12px;
  }
  .border{
    width: 0px;
    height: 0px;
    background-color:#f6ff74;
    margin-left: 0px;
  }  
/*-------------Main section--------------*/ 
#main{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
}
/*-------------Profile-card 1--------------*/ 
.profile-card{
    width: 310px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px;
}
.card-header{
    background-color: #27273f;
    padding: 10px 10px;
    padding-bottom: 10px;
    padding-top: 25px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(120deg, #f6ff74, #67e667);
    margin: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
  }
  @keyframes animated-gradient {
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
  }
  .pic img{
    display: block;
    width: 120px;
    height: 123px;
    border-radius: 50%;
  }
  .name{
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 600;
    margin: 3px 0;
  }
  .description{
    color:rgb(125, 241, 135);
    font-size: 22px;
    justify-self: center;
    margin: 12px;
    transition: 0.2s linear;
  }
  .description:hover{
    color:#728bfd;
    font-size: 25px;
  }
  .sm{
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }
  .sm a{
    color: #f2f2f2;
    width: 56px;
    font-size:25px;
    transition: .3s linear;
  }
  .sm a:hover{
    color:#728bfd;
  }
  .contact-btn{
    width: 170px;
    display: inline-block;
    padding: 3px 20px;
    border: 1.5px solid #7ef77a;
    border-radius: 6px;
    margin-top: 5px;
    transition: 0.3s linear;
  }
  .contact-btn a{
    color:white;
  }
  .contact-btn:hover{
    background: #728bfd;
    width: 200px;
    font-size: large;
    border-color: #f6ff74;
    box-shadow: 0 0 5px #67e667 ;
  }
/*-------------Profile-card 2--------------*/ 
.profile-card-2{
    width: 310px;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px;
    background-color: #27273f;
  }
  .card-header-2{
    padding: 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .intro{
    width: 100%;
    height: 105%;
    margin: 8px 0;
    color:#fff;
    line-height: 1.3;
    border: 1px #7ef77a solid;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s linear;
  }
  .intro:hover{
    width: 100.5%;
    outline:none;
    box-shadow: 0 0 5px #7ef77a;
  }
  .intro p{
    font-size: 15px;
    text-align: justify;
    color: lightgrey;
  }
/*-----------------------------Footer-------------------------*/
footer{
    top:50%;
    width: 100%;
    padding:10px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
   font-weight: 400;
  }
  .footer{
    margin-top: 5px;
    position:relative;
    bottom:0;
    width:100%;
    height:40px;  
    background:transparent;
    color:white;
    align-items: center;
    justify-items: center;
    padding-top:5px;
  }
/*-----------------------------Education page-------------------------*/
.profile-card-3{
  width: 350px;
  height: 120%;
  border-radius: 25px;
  overflow: hidden;
  margin: 5px;
  background-color: #27273f;
  color:white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.study{
  width: 98%;
  height: 95%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 20px;
}
.study img{
  position: absolute;
  margin:17px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.study ul{
  width: 90%;
  padding-left: 8%;
  padding-top: 5%;
  padding-right: 3%;
  padding-bottom: 3%;
  text-align: justify;
  font-size: 12px;
}
.study h1{
   padding-left:35%;
   margin-top: 5%;
   font-size: 25px;
}
.study-intro {
  width: 90%;
  height: 48%;
  border: 1px yellow solid;
  border-radius: 15px;
  margin: 15px;
  transition: 0.3s linear;
  cursor: pointer;
}  
.study-intro:hover{
  width: 92%;
  box-shadow: 0 0 10px #67e667;
}
.study-intro:nth-child(1){
  background: #81a6c96c;
}
.study-intro:nth-child(2){
  background: #daafaf79;
}
.study-intro:nth-child(3){
  background: #92b38e54;
}
.study-intro:nth-child(4){
  background: #cc67676e;
}
/*-----------------------------BLOG page-------------------------*/
#main-blog{
  padding: 5px;
  width: 22em;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
  background-color: #27273f;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#showcase{
  padding: 15px;
  width: 92%;
  height: 170px;
  background:url(../img/showcase3.jpeg) no-repeat center;
  background-size: cover;
  border: 2px solid #67e667;
  border-radius: 15px;
  margin: 10px;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#showcase h1{
  color:#fff;
  font-size: 20px;
  text-align: center;
  width: 20em;
  margin-bottom: 12px;
}
#showcase h2{
  color:rgb(209, 154, 70);
  font-size: 17px;
  text-align: center;
  width: 20em;
}
.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;

}
.subcontainer{
  width: 92%;
  height: 400px;
  margin: 12px;
  padding: 8px;
  box-shadow:0 0 5px #67e667;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s;
}
.subcontainer:hover{
  border: #f6ff74 1px solid;
}
.subcontainer img{
  width: 70%;
  height: 45%;
  margin: 5px;
  transition: 0.8s;
}
.subcontainer img:hover{
  transform: scale(1.4,1.3) translate(0px, 65px);
  border:#67e667 1px solid;
  box-shadow: 0 0 10px #f6ff74;

}
.subcontainer h1{
  font-size: 12px;
  color:#fff;
  padding: 3px;
}
.blog-detail{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.blog-detail p{
  text-align: justify;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  line-height: 1.2;
}
.blog-feedback{
  padding: 3px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog-detail input{
  padding: 3px;
  font-size: 10px;
  height: 28px;
  margin-bottom: 10px;
  outline: none;
  background: rgb(240, 232, 232);
}
.blog-button{
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin:5px;
}
.blog-detail button{
  background-color: #f2f2f2;
  box-shadow: 0 0 2px #7ef77a;
  color: black;
  border: 0.5px;
  cursor: pointer;
  padding: 4px;
  border-radius: 5%;
  transition: 0.5s;
}
.blog-detail button:hover{
  background-color:#728bfd;
  width: 48%;
}
/*-----------------------------Portfolio page-------------------------*/
#main-flip-card{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 140px;
  perspective: 1000px;
}
.flip-card{
  width: 340px;
  height: 60vh;
  margin-top:25px;
  margin-left: 0px;
}
.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
  transform:rotateY(180deg) ;
} 
.card-front{
  background-color: #27273f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-back{
  background-color: #f2f2f2;
  transform: rotateY(180deg);
  padding: 5px;
}
.card-back h1{
  font-size: 30px;
  margin: 10px;
}
.card-back h2{
  margin: 10px;
}
.card-back p{
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card-back a{
  font-size: 15px;
  color: blue;
  margin-top: 40px;
}
.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 20px;
}
.front-header img{
  width: 100%;
  height: 105%;
  margin-top: 10px;
  box-shadow: 0 0 8px #67e667;
}
.front-title{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.front-title h1{
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}
.front-title h2{
  font-size: 24px;
  margin-top: 25px;
  color: #67e667;
}
.front-title a{
  font-size: 30px;
}
/*-----------------------------Contact page-------------------------*/
.contact-card-header{
  background-color: #27273f;
  padding: 10px 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-card-header h1 {
  color:#fff;
  font-size: 30px;
  margin-bottom:0px;
}
.contact-card-header h2 {
  color:#67e667;
  font-size: 22px;
}
.quote{
  box-shadow:0 0 10px #7ef77a;
  border-radius:5px;
  height: 70%;
  width: 90%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.quote label{
  float: left;
  font-size: 15px;
  color:#FFF;
}
.quote input, textarea{
  width: 200px;
  margin: 5px;
  padding: 3px;
  font-size: 18px;
}
.quote textarea{
  height: 50%;
}
.quote ::placeholder{
  font-size: 15px;
  font-style: italic;
  padding: 3px;
}
.quote button{
  width: 120px;
  height: 28px;
  font-size: 17px;
  margin-bottom: 5px;
  background: transparent;
  color: #fff;
  border: #7ef77a 1.5px solid;
  border-radius: 3px;
  transition: 0.5s;
}
button:hover{
  background: #728bfd;
  width: 140px;
  font-size: 19px;
}

/* ############################################### TABLETS #########################*/
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .navbar{
      width: 768px;
      padding: 15px 0px;
      margin:auto;
    }
    .inner-width{
        max-width: 100%;
        padding: 0 10px;
        align-items: center;
    }
    .navbar-menu a{
        font-size: 17px;
        font-weight: 400;
        margin: 0px 28px;
    }
    .navbar-menu a:hover{
      font-size: 20px;
    }
    .main{
      align-items: center;
    }
    .profile-card{
      width: 350px;
    }
    .profile-card-2{
      width: 600px;
    }
    .card-header-2{
      height: 50vh;
    }
/*---------Educationpage-------*/
    .profile-card-3{
      width: 90%;
      height: 130%;
      padding: 15px 0px;
    }
    .study img{
      margin: 15px;
      width: 80px;
      height: 80px;
    }
    .study ul{
      padding-top: 4%;
      padding-left: 17%;
      font-size: 15px;
    }
    .study h1{
      padding-left: 23%;
      padding-top:3px;
      padding-bottom: 3px;
      font-size: 30px;
    }
    .study-intro{
      width: 90%;
      height: 110%;
    }
    /*---------BLOG page-------*/
    #main-blog{
      padding: 5px;
      width: 44em;
      margin-top: 80px;
    }
    #showcase{
      padding: 15px;
      width: 90%;
      height: 270px;
    }
    #showcase h1{
      font-size: 25px;
    }
    #showcase h2{
      font-size: 22px;
    }
    .subcontainer{
      width: 90%;
      height: 400px;
    }
    .subcontainer img{
      width: 70%;
      height: 60%;
    }
    .subcontainer h1{
      font-size: 17px;
    }
    .blog-detail{
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
    }
    .blog-detail p{
      font-size: 14px;
    }
    .blog-detail input{
      padding: 5px;
      font-size: 10px;
      height: 30px;1111
    }
    .blog-feedback{
      padding: 3px;
      margin: 5px;
    }
    .blog-detail button{
      width: 40px;
    }
/*-----------------------------Portfolio page-------------------------*/
.flip-card{
  margin-left: 15px;
}
/* ############################################### Desktop #########################*/
@media only screen and (min-width: 769px) {
/* For desktop: */
.navbar{
  width: 100%;
  padding: 30px 0px;
}
.inner-width{
    max-width: 1300px;
    margin:auto;
    padding: 0 15px;
    align-items: center;    
}
.logo{
  display: inline-block;
  margin-left: 20px;
}
.navbar-menu a{
    font-size: 24px;
    font-weight: 500;
    margin: 0px 54px;
}
.navbar-menu a:hover{
  font-size: 26px;
  padding: 10px 12px;
}
.border{
  width: 3px;
  height: 30px;
  margin-left: 8px;
}
#main{
  margin-top: 140px;
  flex-wrap: nowrap;
  flex-direction: row;
}
.profile-card{
  width: 380px;
  border-radius: 25px;
}
.card-header{
  height: 70vh;
  padding-bottom: 35px;
}
.profile-card-2{
  width: 50em;
  border-radius: 25px;
}
.card-header-2{
  height: 70vh;
  padding: 55px 37px;
  justify-content: space-around;
}
.intro{
  height: 20vh;
  width: 100%;
  margin: 18px 0;
  padding: 15px;
}
.pic img{
  width: 125px;
  height: 130px;
}
.name{
  font-size: 28px;
  margin: 8px 0;
}
.contact-btn{
  width: 210px;
  padding: 10px 50px;
  margin-top: 8px;
}
.contact-btn:hover{
  width: 240px;
  font-size: larger;
}
/*---------Educationpage-------*/
.profile-card-3{
  width: 80em;
  height: 72vh;
  flex-wrap: nowrap;
  flex-direction: column;
}
.study img{
  position: fixed;
  margin: 12px;
  width: 120px;
  height: 120px;
}
.study ul{
  padding-left: 27%;
  padding-top:6%;
  padding-right: 5%;
  font-size: 17px;
}
.study h1{
  padding-left: 27%;
}
.study-intro{
  width: 47%;
  height: 46%;
  margin: 10px;
}
.study-intro:hover{
  width: 46%;
}
 /*---------BLOG page-------*/
 #main-blog{
  padding: 25px;
  width: 80em;
  margin-top: 150px;
}
#showcase{
  padding: 15px;
  width: 98%;
  height: 400px;
}
#showcase h1{
  font-size: 60px;
}
#showcase h2{
  font-size: 50px;
}
.subcontainer{
  width: 590px;
  height: 450px;
}
.subcontainer img{
  width: 70%;
  height: 50%;
}
.subcontainer h1{
  font-size: 25px;
}
.blog-detail{
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.blog-detail p{
  font-size: 12px;
}
.blog-detail input{
  padding: 7px;
  font-size: 17px;
  height: 70px;
}
.blog-feedback{
  padding: 8px;
  margin: 5px;
}
.blog-detail button{
  width: 60px;
}
 /*---------PORTFOLIO page-------*/
.flip-card{
  margin-left: 28px;
  width: 370px;
}
.front-title h1{
  font-size: 28px;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 20px;
}
 /*---------Contact page-------*/
 .quote input, textarea{
  width: 250px;
  margin: 8px;
  padding: 1px;
  font-size: 18px;
}
.quote label{
  font-size: 18px;
}
}


